@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@100;200;300;400;800&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.content h1 {
    color: #000;
    font-family: Poppins;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    white-space: nowrap;
}